x-default-env: &default-env
  WS_APIKEY: # https://steamcommunity.com/dev/apikey
  FASTDL_URL: https://fastdl.somedomain.com/ # fastdl base url
  STEAMGROUP: 0
  CONTACT: admin@somedomain.com

services:
  csgowatchdog:
    image: csgowatchdog
    container_name: csgowatchdog
    restart: unless-stopped
    user: 1000:1000
    tty: true
    stdin_open: true
    volumes:
      - ./watchdog:/watchdog
  csgoserver1:
    image: csgoserver
    container_name: csgoserver1
    restart: unless-stopped
    user: 1000:1000
    tty: true
    stdin_open: true
    logging:
      driver: json-file
      options:
        max-file: "3"
    ports:
      - 27015:27015/udp
      - 27015:27015/tcp
    environment:
      <<: *default-env
      ID: csgoserver1 # unique ID for this server, used for mount folders
      HOSTNAME: csgoserver
      GSLT: # https://steamcommunity.com/dev/managegameservers
      IP: 0.0.0.0
      IP_DOMAIN: somedomain.com
      PORT: 27015
      RCON_PASSWORD: changeme
      TICKRATE: 128
      EXTRA_LAUNCH_OPTS: "" # extra launch options
      MAP: de_nuke
      REGION: EU # server region code (EU, NA)
      TAGS: eu,public,csgo # comma separated list of tags
      DB_MODE: sqlite # database mode (mysql/sqlite)
      DB_NAME: csgoserver1 # database name for this server
      DB_HOST: localhost
      DB_PORT: 3306
      DB_USER: root
      DB_PASS: root
      MAPTEST: false # enable map testing mode (true/false)
      WHITELIST: false  # enable whitelist-only mode (true/false)
      MODE: gokz # server mode (kztimer, gokz)
      KZ_APIKEY: 0 # kz apikey
    volumes:
      - ./watchdog:/watchdog
      - ./layers:/layers:ro
      - ./mounts:/mounts
      - ./user:/user:ro
