x-default-env: &default-env
  WS_APIKEY: # https://steamcommunity.com/dev/apikey
  FASTDL_URL: https://fastdl.somedomain.com/ # fastdl base url
  STEAMGROUP: 0
  CONTACT: admin@somedomain.com

services:
  csgowatchdog:
    image: csgowatchdog
    container_name: csgowatchdog
    restart: unless-stopped
    user: 1000:1000
    tty: true
    stdin_open: true
    volumes:
      - ./watchdog:/watchdog
    logging:
      driver: json-file
      options:
        max-file: 5
        max-size: 10m
    network_mode: bridge
  csgo-server-1:
    image: csgoserver
    container_name: csgo-server-1
    restart: unless-stopped
    user: 1000:1000
    tty: true
    stdin_open: true
    logging:
      driver: json-file
      options:
        max-file: 5
        max-size: 10m
    network_mode: host
    environment:
      <<: *default-env
      ID: 1 # unique ID for this server, used for mount folders
      HOSTNAME: Kreedz | EU | Public | 128t VNL Global
      GSLT: "" # https://steamcommunity.com/dev/managegameservers
      IP: 0.0.0.0
      IP_DOMAIN: somedomain.com
      PORT: 27015
      RCON_PASSWORD: changeme
      PASSWORD: ""
      TICKRATE: 128
      EXTRA_LAUNCH_OPTS: "" # extra launch options
      MAP: de_nuke
      REGION: EU # server region code (EU, NA)
      TAGS: eu,public,csgo # comma separated list of tags
      # Database settings
      DB_CLIENTPREFS_DRIVER: sqlite # database mode (mysql/sqlite)
      DB_CLIENTPREFS_NAME: clientprefs-sqlite # database name
      DB_CLIENTPREFS_HOST: 127.0.0.1 # database host
      DB_CLIENTPREFS_PORT: 3306 # database port
      DB_CLIENTPREFS_USER: # database user
      DB_CLIENTPREFS_PASS: # database password
      DB_GOKZ_DRIVER: sqlite # database mode (mysql/sqlite)
      DB_GOKZ_NAME: gokz-sqlite # database name
      DB_GOKZ_HOST: 127.0.0.1 # database host
      DB_GOKZ_PORT: 3306 # database port
      DB_GOKZ_USER: # database user
      DB_GOKZ_PASS: # database password
      DB_MORESTATS_DRIVER: sqlite # database mode (mysql/sqlite)
      DB_MORESTATS_NAME: more-stats-sqlite # database name
      DB_MORESTATS_HOST: 127.0.0.1 # database host
      DB_MORESTATS_PORT: 3306 # database port
      DB_MORESTATS_USER: "" # database user
      DB_MORESTATS_PASS: "" # database password
      DB_SBPP_DRIVER: sqlite # database mode (mysql/sqlite)
      DB_SBPP_NAME: sourcebanspp-sqlite # database name
      DB_SBPP_HOST: 127.0.0.1 # database host
      DB_SBPP_PORT: 3306 # database port
      DB_SBPP_USER: # database user
      DB_SBPP_PASS: # database password
      DB_NODUPE_DRIVER: sqlite # database mode (mysql/sqlite)
      DB_NODUPE_NAME: nodupe-sqlite # database name
      DB_NODUPE_HOST: 127.0.0.1 # database host
      DB_NODUPE_PORT: 3306 # database port
      DB_NODUPE_USER: # database user
      DB_NODUPE_PASS: # database password
      SBPP_SERVERID: -1 # sourcebans++ server ID, -1 to disable
      WHITELIST: false  # enable whitelist-only mode (true/false)
      AC: true # enable CowAC & AntiDLL (true/false)
      ABH: false # enable ABH (true/false)
      MODE: "" # server mode (server specific configs)
      KZ_APIKEY: "" # kz apikey
    volumes:
      - ./watchdog:/watchdog
      - ./layers:/layers:ro
      - ./mounts:/mounts
      - ./user:/user:ro
