WS_APIKEY=                                         # https://steamcommunity.com/dev/apikey
FASTDL_URL=https://files.femboykz.com/fastdl/csgo  # FASTDL URL
STEAMGROUP=40792979                                # https://steamcommunity.com/gid/yourgroupid

GITHUB_TOKEN= # Github auth token for watchdog autoupdater

DC_GOKZ_WEBHOOK=     # Discord webhook url for gokz-discord
DC_RESTART_WEBHOOK=  # Discord webhook url for autorestart
