# Internal variables
ID=1                      # unique ID for this server, used for mounted folders
MODE=fkz                  # maptesting/fkz/boakz

# Server configuration
HOSTNAME=CSGO Server
IP=0.0.0.0
PORT=27015
RCON_PASSWORD=password
PASSWORD=""
TICKRATE=128
MAP=kz_baxter
EXTRA_LAUNCH_OPTS=""
GSLT=                    # https://steamcommunity.com/dev/managegameservers
WHITELIST=false
AC=true                  # Enable CowAC & AntiDLL (true/false)
ABH=false                # Enable ABH (true/false)
KZ_APIKEY=""             # GOKZ Apikey

# Cosmetic configuration
IP_DOMAIN=somedomain.com # domain used for ads and such
REGION=EU                # server region code (EU, NA)

# Database configuration
DB_DRIVER=sqlite
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=""                     # no password by default, change if using mysql
DB_SHARED_NAME=sourcemod       # shared/global db, e.g for clientprefs
DB_TICKRATE_NAME=sourcemod_128 # tickrate specific db, e.g for gokz
